{% extends 'base.html.twig' %}
{% block body %}

    {% include 'navbar/_navbar.html.twig' %}

        <div class="row">
            <div class="col col-md-6 mx-auto bg-white">
                {{ form_start(formulaire)}}
                    {{form_widget(formulaire)}}
            
                    <div class="d-grid gap-2 mt-5">
                        <button class="btn btn-lg btn-primary" type="submit" formnovalidate>Modifeir votre annonce</button>
                    </div>
        
                {{form_end(formulaire)}}
            </div>
        </div>

 
    {% include 'footer/_footer.html.twig' %}

    

{% endblock %}