{% extends 'base.html.twig' %}
{% block body %}

    {% include 'navbar/_navbar.html.twig' %}

    
        <h3>Annonces: {{annonces|length}} </h3>
        {% for annonce in annonces %}
            <article>
                <h2> <a href="{{path('annonce_show',{id: annonce.id})}}">{{ annonce.title}}</a></h2>
                <p>{{ annonce.description|u.truncate(50,'...',false)}}</p>
            </article>
        {% endfor %}
   

    {% include 'footer/_footer.html.twig' %}

    

{% endblock %}
