{% extends 'base.html.twig' %}


{% block body %}

        <div class=" container text-center p-3 mt-5">
            <p style="color: black;">&copy;  <?php echo date("Y"); ?> Copyright&middot; <a href="#"> About</a></p>

        </div>

{% endblock %}